<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body  style="background-color: rgb(157, 172, 240); margin-bottom: 1rem;">
    <% if (locals.error) { %>
        <div style="margin-bottom: 1rem; color: red; font-size: xx-large;">
          Incorrect Password
        </div>
      <% } %>
    <form
      method="post"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 350px;
        color: white;
      "
    >
      <label for="password" style="font-size: xx-large;">Passwords</label>
      <input id="password" name="password" type="password" required  style="height: 30px;"/>
      <button
        style="
          grid-column: span 2;
          height: 30px;
          background-color: black;
          color: white;
          font-size: x-large;
        "
        type="submit"
      >
        Download
      </button>
    </form>
  </body>
</html>
